<style>
    .underline-text {
      text-decoration: underline;
    }
  </style>

<% if (file) { %>
 
<div class="main-panel">
    <div class="content-wrapper">
    <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center;">LEASE AGREEMENT</h4>
            <% if (file.approved === true) { %>
                <a style="color: white;" class="btn btn-primary mr-2" href="/download-renter-lease/<%= currentUser._id %>">Download Signed Lease Agreement Form</a>
            <% } else { %>
                <p>Download the Lease Agreement Form signed by the Landlord and Sign in the appropriate place in the document and upload after signing.</p><br>
                <div class="row">
                    <a style="color: white;" class="btn btn-primary mr-2 col-md-6 col-sm-12 mb-2" href="/download-lease/<%= currentUser._id %>">Download Lease Agreement Form</a>
                    <a style="color: white;" class="btn btn-primary mr-2 col-md-6 col-sm-12 mb-2" href="/upload-lease/<%= currentUser._id %>">Upload Signed Form</a>
                </div>
            <% } %>
        </div>
        </div>
    </div>
    </div>
</div>
<% } else {%>
<div class="main-panel">
    <div class="content-wrapper">
    <p>You haven't signed the lease agreement between you and the Landlord. Make sure to sign it.</p>
</div>
</div>
<% } %>


