<style>
    .underline-text {
      text-decoration: underline;
    }
  </style>

<% if (file) { %>
 
<div class="main-panel">
    <div class="content-wrapper">
    <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center;">LEASE AGREEMENT</h4>
            <ul class="list-ticked">
            <li><b>Premises.</b>  3 Bedroom leased is located at <span class="underline-text">2932 Bluets Drive Mesquite Tx 75150 </span>  The tenant has been leased the two bedrooms and other area of need within the property.</li>
            <li><b>Agreement to Lease. </b>Landlord agrees to lease to Tenant and Tenant agree to lease from Landlord, according to the terms and conditions set forth herein.</li>
            <li><b>Terms.</b> This agreement will be for a term beginning on <span class="underline-text">05/27/2023</span> and ending on <span class="underline-text">05/27/2024</span></li>
            <li><b>Rent.</b> Rent Plus wifi will be payable in advance and due on the <span class="underline-text">1st</span> day of each month during the term in the amount of <span class="underline-text">$2000</span>. </li>
            <li><b>Late Charges.</b> If Landlord does not actually receive a rent payment in full amount at the designated place of payment by the <span class="underline-text">2nd</span> day of each month at 11:59pm, Tenant will pay Landlord for each late payment; an initial late charge equal to <span class="underline-text">$100</span> and additional late charges of <span class="underline-text">$20</span> per day thereafter until rent and late charges are paid in full.</li>
            <li><b>Security Deposit.</b> Upon signing this Agreement, Tenant will pay a security deposit in the amount of <span class="underline-text">$1000</span> to Landlord. The security deposit will be retained by Landlord as security for Tenant’s performance of its obligation under this Agreement. The security deposit may not be used or deducted by Tenant as the last month’s rent of the Term. Tenant will be entitled to a full refund of the security deposit if Tenant returns possession of the Premises to Landlord in the same condition as accepted, ordinary wear and tear expected. Within <span class="underline-text">7</span> days after the termination of this agreement, Landlord will return the security deposit to Tenant (minus any amount applied by Landlord in accordance with this section). Any reason for retaining a portion of the security deposit will be explained in writing. The security deposit will not bear interest while held by Landlord in accordance with applicable state laws and/or local ordinances.</li>
            <li><b>Utilities.</b> Landlord is responsible for payment of all utilities and other services for the Premises.</li>
            <li><b>Use of Premises.</b> The Premises will be occupied only by Tenant and Tenant’s immediate family and used only for residential purposes. Tenant shall not allow any other person, other than Tenant's immediate family to use or occupy the Premises without first obtaining Landlord's consent to such use. Tenant will not engage in any objectionable conduct, including behavior which will make the Premises less fit to live in, will cause dangerous, hazardous or unsanitary conditions or will interfere with the rights of others to enjoy their property. Tenant will be liable for any damage occurring to the Premises and any damage to or loss of the contents thereof which is done by Tenant or Tenant’s guests or invitees. Tenant shall comply with any and all laws, ordinances, rules and orders of any and all governmental or quasi-governmental authorities affecting the cleanliness, use, occupancy and preservation of the Premises. </li>
            <li><b>Damage to Premises.</b> In the event the Premises are destroyed or rendered wholly uninhabitable by fire, storm, earthquake, or other casualty not caused by the negligence of Tenant, this Agreement shall terminate from such time except for the purpose of enforcing rights that may have then accrued hereunder.  The rental provided for herein shall then be accounted for by and between Landlord and Tenant up to the time of such injury or destruction of the Premises, Tenant paying rentals up to such date and Landlord refunding rentals collected beyond such date.  Should a portion of the Premises thereby be rendered uninhabitable, the Landlord shall have the option of either repairing such injured or damaged portion or terminating this Lease.  In the event that Landlord exercises its right to repair such uninhabitable portion, the rental shall abate in the proportion that the injured parts bears to the whole Premises, and such part so injured shall be restored by Landlord as speedily as practicable, after which the full rent shall recommence, and the Agreement continue according to its terms. </li>
            <li><b>Alterations and Improvements.</b> Tenant shall make no alterations to the buildings or improvements on the Premises or construct any building or make any other improvements on the Premises without the prior written consent of Landlord.  Any and all alterations, changes, and/or improvements built, constructed or placed on the Premises by Tenant shall, unless otherwise provided by written agreement between Landlord and Tenant, be and become the property of Landlord and remain on the Premises at the expiration or earlier termination of this Agreement. </li>
            <li><b>Indemnification.</b>  Landlord shall not be liable for any damage or injury of or to the Tenant, Tenant's family, friends, guests, invitees, agents or employees or to any person entering the Premises or the building of which the Premises are a part or to goods or equipment, or in the structure or equipment of the structure of which the Premises are a part, and Tenant hereby agrees to indemnify, defend and hold Landlord harmless from any and all claims or assertions of every kind and nature.  </li>
            <li><b>Smoking.</b> Smoking of any kind is strictly prohibited on any part of the Premises. The prohibition applies to Tenant and any visitors, guests or other occupants on the Premises.</li>
            <li><b>Pets.</b> Tenant is not allowed to have or keep any pets, even temporarily, on any part of the Premises. The unauthorized presence of any pet will subject Tenant to penalties, damages, deductions and/or termination of this Agreement. Properly trained service animals that provide assistance to individuals with disabilities may be permitted on the Premises with the prior written consent of Landlord, which shall not be unreasonably withheld. Tenant will be responsible for the costs of de-fleaing, deodorizing and/or shampooing all or any portion of the Premises if a pet has been on the Premises at any time during the Term (whether with or without written consent of Landlord).</li>
            <li><b>Surrender of Premises.</b> Tenant will deliver and surrender to Landlord possession of the Premises immediately upon the expiration of the Term or termination of this Agreement, clean and in as good condition and repair as the Premises was at the commencement of the Term, reasonable wear and tear excepted.</li>
            <li><b>Tenant’s Renewal/Hold Over.</b>  Tenant shall give Landlord sixty (60) days’ notice that Tenant intends not to renew the lease at the expiration of lease term.  Such notice shall be sent to Landlord at Landlord’s address or via email.  If Tenant remains in possession of the Premises with the consent of Landlord after the natural expiration of this Agreement Or if neither party gives notice of termination, then the lease will be automatically extended on a month-to-month basis with an increase in rent of Ten Percent (10%). All other terms of the existing lease agreement remain the same. Such tenancy shall be terminable upon a minimum of sixty (60) days written notice served by either tenant or sixty (60) day notice served by Landlord.</li>
            <li><b>Lease Cancelation.</b> Both Tenant and Landlord can cancel lease at any time with 60 days written advanced notice.</li>
            <li><b>Recording of Agreement.</b> Tenant shall not record this Agreement on the Public Records of any public office without the consent of Landlord.  In the event that Tenant shall record this Agreement without prior approval, this Agreement shall, at Landlord's option, terminate immediately and Landlord shall be entitled to all rights and remedies that it has at law or in equity. </li>
            <li><b>Governing Law. </b>This Agreement shall be governed, construed and interpreted by, through and under the<span class="underline-text">Laws of the State of Texas</span>.   </li>
            <li><b>Severability.</b> If any provision of this Agreement or the application thereof shall, for any reason and to any extent, be invalid or unenforceable, neither the remainder of this Agreement nor the application of the provision to other persons, entities or circumstances shall be affected thereby, but instead shall be enforced to the maximum extent permitted by law. </li>
            <li><b>Binding Effect.</b> The covenants, obligations and conditions herein contained shall be binding on and inure to the benefit of the heirs, legal representatives, and assigns of the parties hereto. </li>
            <li><b>Construction.</b> The pronouns used herein shall include, where appropriate, either gender or both, singular and plural. </li>
            <li><b>Non-Waiver.</b> No indulgence, waiver, election or non-election by Landlord under this Agreement shall affect Tenant's duties and liabilities hereunder.</li>
            <li><b>Modification.</b> The parties hereby agree that this document contains the entire agreement between the parties and this Agreement shall not be modified, changed, altered or amended in any way except through a written amendment signed by all of the parties hereto.  </li>
            </ul>
            <p>Landlord’s contact information for notices and payment information for rent deposits:</p>
            <p>Email: omotayodaib1992@gmail.com</p>
            <p>Telephone: 682-360-5095</p>
            <p><b>Zelle – 682-360-5095</b></p>
            <br>
            <a style="color: white;" class="btn btn-primary mr-2" href="/download-lease/<%= currentUser._id %>">Download Signed Form</a>
        </div>
        </div>
    </div>
    </div>
</div>
<% } else {%>
<div class="main-panel">
    <div class="content-wrapper">
    <p>You haven't signed the lease agreement between you and the Landlord. Make sure to sign it.</p>
</div>
</div>
<% } %>


